.match-row {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #333;
  background-color: #181818;
  font-size: 16px;
  color: #f0f0f0;
  gap: 12px;
}

.teams {
  display: flex;
  align-items: center;
  gap: 10px;
}

.teams img {
  width: 40px;
  height: 40px;
}

.match-info {
  text-align: center;
  font-size: 16px;
  color: #ccc;

  display: flex;
  gap: 6px;
}

.odds-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;
}
