/* ✅ Odd button styles */
.button {
  height: 40px;
  font-size: 16px;
  background: none;
  color: #fff;
  border: 1px solid #3a3a3a;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  text-align: center;

  outline: none !important;
}

.button:hover {
  transform: scale(1.02);
}

.selected {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

/* ✅ Flash animation */
.odds-up {
  animation: flash-green 1s ease-out;
  animation-fill-mode: forwards;
}

.odds-down {
  animation: flash-red 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes flash-green {
  0% {
    color: #fff;
  }
  50% {
    background-color: #3d8b3d;
  }
  100% {
    background-color: #2a2a2a00;
    color: #fff;
  }
}

@keyframes flash-red {
  0% {
    color: #fff;
  }
  50% {
    background-color: #a94442;
  }
  100% {
    background-color: #2a2a2a00;
    color: #fff;
  }
}

/* ✅ Inline difference indicators */
.diffUp {
  color: #3d8b3d;
  font-size: 0.8em;
  margin-left: 6px;
}

.diffDown {
  color: #dd1a17;
  font-size: 0.8em;
  margin-left: 6px;
}

.key-name {
  color: #6fecff;
}
